/* 
Screen Sizes
Mobile Devices <= 600px	| Tablet Devices > 600px | Desktop Devices > 992px | Large Desktop Devices > 1200px
Class Prefix = .s	        .m	                     .l	                       .xl
Container Width	= 90%     85%	                     70%	                     70%
Number of Columns = 12	  12	                     12	                       12
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.h1 {
  font-size: 44px;
  margin-bottom: 70px;
}

.relative {
  position: relative;
}

@media (max-width: 1199px) {
  .map-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .map-container {
    position: absolute !important;
    left: 66.6666%  !important;
    padding-left: 10px;
  }
  .map {
    position: fixed !important;
    max-width: 410px;
  }
}

.map {
  height: 400px;
  width: 100%;
}

.fixed {
  position: fixed !important;
}

.text-center {
  text-align: center;
}

.houses {
  /* position: relative; */
}

.house {
  /* position: relative; */
  /* position: absolute; */
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #fff;
}

.active {
  color: #fff;
  background-color: #9b9b9b;
}

.house:hover {
  color: #fff;
  background-color: #9b9b9b;
}

.house__img {
  border-radius: 2px;  
}

.house__category {
  font-weight: 400;
  padding: 2px 6px 2px 4px;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  background-color: #fff;
}

.temp__category {
  font-weight: 400;
  padding: 2px 6px 2px 4px;
  border-radius: 3px;
}
.select {
  display: block;
  min-width: 320px;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
