body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.map {
  height: 400px;
}

.houses {
  height: 400px;
  overflow: scroll;
}

.text-center {
  text-align: center;
}

.house {
  cursor: pointer;
}
.active {
  color: #fff;
  background-color: #59c8fa;
}

.house:hover {
  /* background-color: #f8f8f8; */
  color: #fff;
  background-color: #59c8fa;
}
